.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: var(--spacing-2) var(--spacing-32);
}

@media (max-width: 640px) {
  .container {
    padding: var(--spacing-2) var(--spacing-16);
  }
}
